/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

.no-style{
  text-decoration: none !important;
  color: #000;
}
.no-style-a{
  text-decoration: none !important;
  color: #fff;
}
.no-style-a:hover{
  color: #fff;
}
.option-btn{
  display: flex;
}
.btn .no-style{
  color: white;
}
.btn-no-padding{ padding: 14px 0px 4px;}
.a-center{margin: 0 auto;}

.option-btn button:nth-child(1){
  margin-right: 10px;
}
.margin-top-90{
  margin-top: 120px !important;
}

#mapid{
  height: 520px;
  width: 100%;
}
.content-login{
  width: 100%;
  padding: 15px 30px;
}
.content-login.login{
  background: url(https://images.pexels.com/photos/133697/pexels-photo-133697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.content-login.forgot{
  background: url(https://images.pexels.com/photos/3774023/pexels-photo-3774023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.forgot p{
  color: white;
  text-align: justify;
}
.content-login.message{
  height: 59vh;
  background: url(https://images.pexels.com/photos/3740446/pexels-photo-3740446.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.message p{
  color: white; text-align: justify;
}
.message .box-multi-function{margin-top: 10vh;}

/* form create bikes */
.content-form{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://cdn.pixabay.com/photo/2019/04/23/14/23/bike-4149653_960_720.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* form create register */
.content-login.register{
  min-height: 60vh;
  background: url(https://images.pexels.com/photos/3740792/pexels-photo-3740792.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 20px 0;
}
.box-multi-function{
  background: rgba(0, 0, 0, 0.4117647058823529);
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5em;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 120px;
}
.grupo {
  display: flex;
  padding: 10px 5px;
  background-color: #ffffff;
}
.grupo i{
  color: #2b28ee;
  font-size: 20px;
  padding: 5px 5px;
}
.rot{
  transform: rotate(270deg);
}
.grupo-formulario {
  margin: 10px 0;
  position: relative;
}
input[type="text"],
input[type="password"],
input[type="email"],select
{
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus{
    outline: none;
}

input[type="submit"] {
    background: #2b28ee;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}
input[type="submit"]:hover {
    background-color: #00BCD4;
    transition-duration: 1s;
}
p.w3l-register-p{
  color: white;
  font-size: 13px;
  text-align: center;
  margin-top: 2em;
}
.background-linear{
  background-image: linear-gradient(white, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 10% 2px;
}
.w3l-register-p a {
  color: #eee;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.w3l-register-p a:hover{
  color: greenyellow;
}

.renovar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.renovar p {
  color: #ffffff;
  text-align: center;
  margin: 0px;
font-size: 13px;
}
a {
  color: #eee;
  font-size: 14px;
  text-decoration: none;
}
.toggle {
  top: 7px;
  right: 7px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}
span{
  color: white;
}
.formulario {
  display: none;
}

.formulario:nth-child(1) {
  display: block;
}

/* clase de errores */
.es-invalid{
  border: 1px solid red;
}
/* responsive */

@media(max-width:768px) {
  h1 {
      font-size: 47px;
  }
}
@media(max-width:667px) {
  h1 {
      font-size: 45px;
  }
}
@media(max-width:480px) {
  .box-multi-function{
  margin: 0 3vw;
  }
  h1 {
      font-size: 38px;
  }
  input[type="submit"] {
    font-size: 14px;
    padding: 12px 10px;
  }
}
@media(max-width:414px) {
  h1 {
      font-size: 34px;
  }
}
@media(max-width:384px) {
  h1 {
      font-size: 30px;
  }
  .content-login{
    padding: 15px 15px;
  }
  .box-multi-function{
    margin: 0;
    padding: 15px;
  }
}
@media(max-width:320px) {
  h1 {
      font-size: 25px;
  }
  .renovar p {
      text-align: left;
  }
  .renovar {
      display: block;
  }
}