extends ../layout

block content 
    include ../navbar
    .content-login.forgot(style="height: 60vh;")

        .box-multi-function
            .formulario
                if info && info.message && info.type
                    h2 
                        = info.type
                    div.alert.alert-danger
                        = info.message

    include ../footer