extends ../layout

block content 
    include ../navbar
    .content-login.forgot
        .box-multi-function
            .formulario
                h2 Recuperar Contraseña
                p Por favor, ingrese su email de registro, se le enviara un mensaje con las instrucciones para la restauración de su contraseña.
                if info && info.message 
                    div.alert.alert-danger
                        = info.message
                form(action='/login/forgotpassword' method='POST')
                    .grupo-formulario
                        .grupo
                            i.fas.fa-at
                            input#email.controlform(type='email' name='email' placeholder='Correo' required='required')
                    input(type='submit' value='Enviar mensaje')
                    br
                    br
                    .renovar.btn.btn-no-padding.btn-outline-warning
                        a.no-style-a.a-center( href='/bicynet/') 
                            h5 Regresar a Inicio


    include ../footer
    
