extends ../layout

block content 
    include ../navbar
    .content-login.message
        .box-multi-function
            .formulario
                h2 Has solicitado el restablecimiento de tu contraseña
                p Se ha enviado a su cuenta de email, las instrucciones para el restablecimiento de la contraseña de su cuenta.

    include ../footer