extends ../layout

block content 
    include ../navbar
    .content-login.forgot
        .box-multi-function
            .formulario
                h2 Ingrese su nueva contraseña
                if info && info.message 
                    div.alert.alert-danger
                        = info.message
                form(action='/login/resetpassword' method='POST' onsubmit='return validar1();')
                    input#email(type='hidden' name='email' value= usuario.email)
                    .grupo-formulario
                        .grupo(class=errors.confirm_password ? 'es-invalid' : '')
                            i.fas.fa-unlock
                            input#pwd.controlform(type='password' name='password' placeholder='Contraseña' required='required')
                    .grupo-formulario
                        .grupo(class=errors.confirm_password ? 'es-invalid' : '')
                            i.fas.fa-unlock
                            input#pwd-confirm.controlform(type='password' name='confirm_password' placeholder='Ingrese Contraseña nuevamente' required='required')
                    if errors.confirm_password
                        p
                        small#pwdconfirmhelp.text-danger
                             = errors.confirm_password.message
                        p
                    input(type='submit' value='Restablecer')
        
    include ../footer